.nav-bar{
    background-color: #f5f5fa;
    &__links{
        flex: 1;
        text-align: right;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin: auto;
        ul{
            li{
                display: inline-block;
                list-style: none;
                margin: 0 20px;
                a{
                    color: #04143A;
                    text-decoration: none;
                    &:hover{

                    }
                }
            }
        }
    }
}

.nav-bar {
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all 0.5s ease;
    }
    .fixed {
        -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5); 
        box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5);
        position: fixed;
        top: 0;
        left: 0;
        animation: smoothScroll 1s forwards;
    }
    @keyframes smoothScroll {
        0% {
            transform: translateY(-40px);
        }
        100% {
            transform: translateY(0px);
        }
    }

.introduction{
    margin: 0px auto 60px;
    color: #04143A;
    &__name{
        font-size: 70px;
        font-weight: 300;
        display: inline-block;
        .color{
            font-weight: 600;
        }
    }
    &__title{
        
    }
    &__overview{
        margin-bottom: 40px;
        font-size: 44px;
        font-weight: 300;
    }
    &__email{
        display: block;
        color: #a1aabf;
        font-size: 24px;
        font-weight: 300;
        width: 27%;
    }
    &__info{
        margin-bottom: 40px;
        color: #81899C;
        text-transform: uppercase;
    }
    &__social{
        
        margin-bottom: 40px;
        i{
            color: #04143A;
            font-size: 26px;
        }
    }
    &__resume{
        i{
            padding-right: 10px;
        }
    }
}

.experience{
    &__container{
        margin-top: -85px !important;
        padding-top: 85px;
    }
    &__heading{
        font-size: 50px;
    }
    &__sub{
        .other{
            font-size: 18px;
        }
    }
    &__content{
    }
    &__bukkenoh{
        width: 100%;
    }
    &__flex{
        display: flex;
    }
}

.education{
    &__container{
        margin-top: -85px !important;
        padding-top: 85px;
    }
}

.skills{
    &__container{
        margin-top: -85px !important;
        padding-top: 85px;
    }
}